.container{
    display:flex;
    background-color: #D9EEE1;
}
.shadow{
        margin:23px 12 px;
        padding:23px 12px;
        box-shadow: 100dpx 100px 8px green;]=     qqq
         
    
        
        
}